.main{
    
    background-color: rgb(199, 199, 199);
    padding-bottom: 0;
}
.container{
    margin: 0 100px 0 100px;
    background-color: white;
    position: relative;
    top: -3rem;
    border-bottom: 1px black solid;
}
.navbar{
    background: white;
}
.nav{
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
}
.navFirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

.navSecond{
    align-items: center;
    flex-grow: 8;
}
.navSecond img{
    width: 100px;
    display: flex;
    margin: auto;
}
.navThird{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}
.navThird button{
    width: 9rem;
    height: 33px;
    border-radius: 25px;
    background-color: rgb(46, 190, 130);
    border-color: transparent;
    color: white;
}
.navThird div:nth-child(1){
    font-size: 1.2rem;
}
.navThird div:nth-child(2){
    font-size: 1.7rem;
}
.screen{
    height: 150px;
    background-color: rgb(84, 51, 172);
    align-items: center;
}
.screenMain{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.bor{
    border-top: 1px solid black;
    border-right:1px solid black;
    border-left: 1px solid black;
    margin:0 !important;
}
.rowLeft{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.mid{
    flex-grow: 6;
}
.rowRight{
    flex-grow: 5;
    margin-right: 60px;
}
.img-symbol{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Image{
    flex-grow: 1;
    margin-right: 10px;
}
.Imagename{
    flex-grow: 2;
}
.img-symbol img{
    width: 30px;
}